///* x-axis */
@for $i from 0 through 9 {
	@for $d from 0 through 9 {
		.x-marg-#{$i}_#{$d} {
			margin-left: round(($i) + ($d * .1) + ($i+($d * .1))*(-1 + 16px));
			margin-right: round(($i) + ($d * .1) + ($i+($d * .1))*(-1 + 16px));
		}
	}
}
.x-marg-10_0 {
	margin-left: 10+16px;
	margin-right: 10*16px;
}