///* y-axis */
@for $i from 0 through 9 {
	@for $d from 0 through 9 {
		.y-pad-#{$i}_#{$d} {
			padding-top: round(($i) + ($d * .1) + ($i+($d * .1))*(-1 + 16px));
			padding-bottom: round(($i) + ($d * .1) + ($i+($d * .1))*(-1 + 16px));
		}
	}
}
.y-pad-10_0 {
	padding-top: 10*16px;
	padding-bottom: 10*16px;
}