///* column styles */
.col-4-3-2-1 {
	display: inline-block;
	width: 25%;
}
.col-4-2-1 {
	display: inline-block;
	width: 25%;
}
.col-4-2 {
	display: inline-block;
	width: 25%;
}
.col-3-2-1 {
	display: inline-block;
	width: 33.3333333333%;
}
.col-2-1 {
	display: inline-block;
	width: 50%;
}
.col-2 {
	display: inline-block;
	width: 50%;
}
.col-3 {
	display: inline-block;
	width: 33.3333333333%;
}
.col-4 {
	display: inline-block;
	width: 25%;
}