//////////////////////// Sass Prerequisites //////////////////////////
/* font size */
$em: 16px;

// scrollbar and selection restyling
@import "modules/_mixins";
///////////////////// Main Styling /////////////////////////////////
/*///////////////////////// prerequisites /////////////////////////*/
/* custom styles */
@import "_defaults";
@import "_scrollbar";
/* end custom styles */

/* optional styles */
@import "modules/_options.scss";
/* position */
@import "modules/_position.scss";
@import "modules/_position-top.scss";
@import "modules/_position-left.scss";
//@import "modules/_position-right.scss";
//@import "modules/_position-bottom.scss";

/* arrows */
@import "modules/_arrows.scss";

/* colors */
@import "modules/_colors.scss";
@import "modules/_background-colors.scss";
@import "modules/_pseudo-background-colors.scss";

/* column styles */
@import "modules/_columns.scss";

/* width styles */
@import "modules/_width.scss";
//@import "modules/_min-width.scss";
@import "modules/_max-width.scss";

/* height styles */
@import "modules/_height.scss";
@import "modules/_min-height.scss";
//@import "modules/_max-height.scss";

/* font styles */
@import "modules/_font-size.scss";

/* padding styles */
/* x-axis */
@import "modules/_x-padding.scss";

/* y-axis */
@import "modules/_y-padding.scss";

/* top */
@import "modules/_top-padding.scss";

/* bottom */
@import "modules/_bottom-padding.scss";

/* left */
@import "modules/_left-padding.scss";

/* right */
@import "modules/_right-padding.scss";

/* margin styles */
/* x-axis */
@import "modules/_x-margin.scss";

/* y-axis */
@import "modules/_y-margin.scss";

/* top */
@import "modules/_top-margin.scss";

/* bottom */
@import "modules/_bottom-margin.scss";

/* left */
@import "modules/_left-margin.scss";

/* right */
@import "modules/_right-margin.scss";


/* border radius */
@import "modules/_border-radius.scss";

/* buttons */
@import "modules/_buttons-DEP.scss";

/*///////////////////////// content styling /////////////////////////*/
/* body ----------------------------*/
/* hover events ----------------------------*/

/*///////////////////////// responsive styling /////////////////////////*/
@import "modules/columns-responsive-DEP.scss";
@include media-max(1024px) {
	/* prereqs ----------------------------*/
	/* header ----------------------------*/
	/* body ----------------------------*/
	/* footer ----------------------------*/
	/* hover events ----------------------------*/
}
@include media-max(800px) {
	/* prereqs ----------------------------*/
	/* header ----------------------------*/
	/* body ----------------------------*/
	/* footer ----------------------------*/
	/* hover events ----------------------------*/
}
@include media-max(540px) {
	/* prereqs ----------------------------*/
	/* header ----------------------------*/
	/* body ----------------------------*/
	/* footer ----------------------------*/
	/* hover events ----------------------------*/
}
@include media-max(480px) {
	/* prereqs ----------------------------*/
	/* header ----------------------------*/
	/* body ----------------------------*/
	/* footer ----------------------------*/
	/* hover events ----------------------------*/
}
/*///////////////////////// animations /////////////////////////*/